.navbar-brand {
  font-family: Inconsolata;
  font-size: 1.5rem;
  letter-spacing: 6.3px;
}

.container-fluid {
  width: 99%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#fluidabout{
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



#about-text{
  line-height: 1.8em;
}

@media (min-width: 768px) {
  .navbar {
    height: 35px;
  }
}

.active{
  font-weight: 700;
}

.welcome-text{
font-family: Inconsolata;
}

#title_intro{
  animation-duration: 2s;
  font-weight: 300;
}

hr{
  border-color: #fff;
  border: solid 2px;
}

#selected-works a:link{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works a:visited{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works a:active{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works:hover{
  color: rgba(255, 255, 255, 0.75);
}

#selected-works a:hover{
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#title_head{
  animation-delay: 0.5s;
  animation-duration: 2s;
}

#title_hr{
  animation-delay: 0.75s;
  animation-duration: 2s;
}

#title_lead{
  animation-delay: 1s;
  animation-duration: 2s;
}


html {overflow-y:scroll;}

.list-group .list-group-item:hover{
  background: #337ab7;
  cursor: pointer;
  color: #fff;
}
.content{
  margin: 30px auto;
  height: 500px;
  border-radius: 55;
  box-shadow: 0 2px 1px 0 #dcdcdc,0 -2px 1px 0 #dcdcdc;;
}

#aboutbody {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff; }

  ::-webkit-scrollbar {
  display: none;
  }
