.navbar-brand {
  font-family: monospace;
  font-size: 1.5rem;
  letter-spacing: 5.7px;
}

.container-fluid {
  width: 99%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .navbar {
    height: 35px;
  }
}

.active{
  font-weight: 700;
}

.welcome-text{
font-family: monospace;
}

#title_intro{
  animation-duration: 2s;
  font-weight: 300;
}

hr{
  border-color: #fff;
  border: solid 2px;
}

#selected-works a:link{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works a:visited{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works a:active{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works{
  color: rgba(255, 255, 255, 0.5);
}

#selected-works:hover{
  color: rgba(255, 255, 255, 0.75);
}

#selected-works a:hover{
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#title_head{
  animation-delay: 0.5s;
  animation-duration: 2s;
}

#title_hr{
  animation-delay: 0.75s;
  animation-duration: 2s;
}

#title_lead{
  animation-delay: 1s;
  animation-duration: 2s;
}

#pic.p1 {
  background-image: url("http://fillmurray.com/200/300");
}
#pic.p2 {
  background-image: url("http://fillmurray.com/200/200");
}
#pic.p3 {
  background-image: url("http://fillmurray.com/300/300");
}
#pic.p4 {
  background-image: url("http://fillmurray.com/120/120");
}
